table, th, td {
    border: 1px solid;
    border-radius: 15%;
    border-color: darkviolet;
    text-decoration-color: aqua;
    height: 110px;
    color: rgb(0, 0, 0);
    text-align: center;
  }